# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Dataset
data/raw/

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Model files
models/*.pkl
models/*.joblib
models/*.pt
models/*.pth